<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="DefaultConnection" connectionString="Server=10.56.8.36;Database=DB27;User Id=STUDENT27;Password=OPENDB_27;" providerName="System.Data.SqlClient" /> -->
		<add name="DefaultConnection" connectionString="Server=DESKTOP-E352OMK\SQLEXPRESS;Database=BOXR;Trusted_Connection=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>